/* New Project Dialog */
dialog {
    height: 3rem;
    background-color: beige;
    visibility: visible;
}

dialog form {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Task Dialog */

#expanded-task {
    height: 50%;
    width: 600px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: grey;
    position: relative;
    left: 300px;
}



#expanded-task::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#expanded-task > form > div {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 30px;
}


#task-project, #task-title, #task-due-date, #task-status {
    margin-left: 7px;
}

#close {
    width: 2rem;
}

#task-buttons {
    display: flex;
    align-self: flex-end;
    gap: 5px;
}

#task-edit {
    width: 4rem;
    align-self: flex-end;
    /* display: none; */
}

#task-submit {
    width: 4rem;
    /* display: none; */

}

#task-subtask {
    width: 6rem;
    align-self: flex-end;
}



#task-description {
    width: 100%;
    margin-top: 5px;
}


#task-priority {
    margin-left: 10px;
    font-size: 1rem;
}


#task-notes {
    width: 100%;
    resize: vertical;
}

#task-checklist {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#expanded-task input:read-only {
    border: none;
    font-size: 0.9rem;
}

#expanded-task select {
    color: red;
    font-weight: 700;
    background-color: white;
}

#expanded-task textarea:disabled {
    background-color: white;
    color: black;
}