#sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#sidebar #projects {
    height: 50%;
    display: flex;
    flex-direction: column;
}

#sidebar #projects-list, #sidebar #tasks-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projects-list > button, #tasks-list > button {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}





#sidebar #tasks {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sidebar #tasks-list-container {
    flex: 1;
}

#sidebar #new-project {
    display: flex;
    justify-content: end;
}


/* FOR DEV ONLY */
#sidebar > * {
    border: 1px solid black;
}