@import url("./dialogs.css");
@import url("./main-content.css");
@import url("./sidebar-styles.css");
@import url("./todays-tasks.css");


body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#page-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

#header {
    grid-area: header;
    background-color: #A9D6E5;
}

#header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#sidebar {
    grid-area: sidebar;
    background-color: #E2E2E2;
}

#main-container {
    grid-area: main;
    background-color: #D1E8E2;
    display: grid;
    grid-template-rows: 3fr 1.3fr;
}


/* FOR DEV ONLY */
#page-container > * {
    border: 1px solid black;
}

#main-container > * {
    border: 1px solid black;
}