body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#page-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";

}

#header {
    grid-area: header;
    /* background-color: #19747E; */
    background-color: #A9D6E5;
}

#sidebar {
    grid-area: sidebar;
    /* background-color: #A9D6E5; */
    /* background-color: #D1E8E2; */
    background-color: #E2E2E2;
}

#main-container {
    grid-area: main;
    background-color: #D1E8E2;
}

#page-container > * {
    border: 1px solid black;
}